body {
    font-family: 'Arial', sans-serif;
    margin: 10px;
    text-align: left;
    background-color: lavender;
}
.product{
    display:grid;
    grid-template-rows: auto;
    grid-area: auto;
}
.product{
    display:flex;
    height: 20%;
    justify-content: normal;
    align-items: normal;
    background-color: rgb(255,255,153);
}
.products, .cart {
    float: inline-center;
    width: 100%;
    margin: 0 2.5%;
}

.product, .cart-item {
    border: 5px solid #FF0000;
    padding: 80px;
    margin-bottom: 80px;
}

button {
    background-color: #FF7F50;
    color: #800080;
    border: #FEA8A5;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #FF9999;
}
